/* globals.css file */
body {
    background-color: #F3F2F7; /* Light grey background */
    margin: 0;
    padding: 0;
}

/* Reset default margins for all elements to avoid unexpected spacing */
* {
    margin: 0;
    padding: 0;
    /* Add other reset styles if necessary */
}
